@page
@model IndexModel
@{
	ViewData["Title"] = "Assignments";
}
<br />
<h3>Experiments</h3>

<br>

@if ((string)ViewData["Role"] == "Professor")
{
	<a href="/Identity/Assignments/AddAssignments">Add Assignments</a>
}

<hr />
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Experiment - 1</h5>
				<p class="card-text">Buck Converter Experiment</p>
				<a href="/Identity/Assignments/Experiments/BuckConverter" class="btn btn-primary">Go to Experiment</a>
			</div>
		</div>
	</div>
</div>
<br />
<hr />
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Experiment - 2</h5>
                <p class="card-text">Buck Converter under Feedback Control Experiment</p>
				<a href="/Identity/Assignments/Experiments/BuckConverterClosed" class="btn btn-primary">Go to Experiment</a>
			</div>
		</div>
	</div>
</div>
<br />
<hr />
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Experiment - 3</h5>
				<p class="card-text">Boost Converter Experiment</p>
				<a href="/Identity/Assignments/Experiments/BoostConverter" class="btn btn-primary">Go to Experiment</a>
			</div>
		</div>
	</div>
</div>
<br />
<hr />
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Experiment - 4</h5>
                <p class="card-text">Boost Converter under Feedback Control Experiment</p>
				<a href="/Identity/Assignments/Experiments/BoostConverterClosed" class="btn btn-primary">Go to Experiment</a>
			</div>
		</div>
	</div>
</div>
<br />
<hr />
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Experiment - 5</h5>
				<p class="card-text">Solar Panel Experiment</p>
				<a href="/Identity/Assignments/Experiments/SolarPanel" class="btn btn-primary">Go to Experiment</a>
			</div>
		</div>
	</div>
</div>
<br />
<hr />
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Experiment - 6</h5>
				<p class="card-text">Solar Cells - Series Connection Experiment</p>
				<a href="/Identity/Assignments/Experiments/SolarCellSeries" class="btn btn-primary">Go to Experiment</a>
			</div>
		</div>
	</div>
</div>
<br />
<hr />
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Experiment - 7</h5>
				<p class="card-text">Solar Cells - Parallel Connection Experiment</p>
				<a href="/Identity/Assignments/Experiments/SolarCellParallel" class="btn btn-primary">Go to Experiment</a>
			</div>
		</div>
	</div>
</div>
<br />
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Experiment - 8</h5>
                <p class="card-text">Maximum Power Point Tracking Experiment</p>
                <a href="/Identity/Assignments/Experiments/Mppt" class="btn btn-primary">Go to Experiment</a>
            </div>
        </div>
    </div>
</div>