@page
@model BoostConverterClosedModel
@{
    ViewData["Title"] = "Boost Converter Closed Experiment";
}

@section scripts {
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/practicalExperiments/boostConverterClosed.js"></script>
}
<br>

<link rel="stylesheet" type="text/css" href="~/css/practicalExperiments/boostConverterClosed.css">
@{
    if (Model.finalResult == null)
    {
        <h2>Experiment 4 : Boost Converter under Feedback Control</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="circuit-container js-circuit-container">
                    <span class="boost-circuit js-circuit"></span>

                    <span class="boost-circuit-connection a js-circuit-connection" id="zva"></span>
                    <span class="boost-circuit-connection b js-circuit-connection" id="yvb"></span>
                    <span class="boost-circuit-connection c js-circuit-connection" id="xvc"></span>
                    <span class="boost-circuit-connection d js-circuit-connection" id="wvd"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="drag-container">
                    <div id="di21" class="drag-item">
                        <img src="~/images/practicalExperiments/boostConverterClosed/bc.png" id="avx" class="img-svg" />
                    </div>
                </div>
                <div class="drag-container">
                    <div id="di22" class="drag-item">
                        <img src="~/images/practicalExperiments/boostConverterClosed/dc.png" id="bvy" class="img-svg" />
                    </div>
                </div>

                <div class="drag-container">
                    <div id="di22" class="drag-item">
                        <img src="~/images/practicalExperiments/boostConverterClosed/fc.png" id="cvz" class="img-svg" />
                    </div>
                </div>

                <div class="drag-container">
                    <div id="di22" class="drag-item">
                        <img src="~/images/practicalExperiments/boostConverterClosed/ssc.png" id="dvw" class="img-svg" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <form id="boostConverterClosed" method="post">
                    <div class="form-group">
                        <label asp-for="Input.Vo"></label>
                        <input asp-for="Input.Vo" class="form-control" />
                        <span asp-validation-for="Input.Vo" class="text-danger"></span>
                    </div>
                    <input type="button" class="btn btn-primary" onclick="onBtnClick()" value="Submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="/identity/assignments" role="button">Go Back</a>

                </form>
            </div>
        </div>
    }
    else
    {
        <h2>Experiment 4 : Boost Converter under Feedback Control Result</h2>
        <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript">
			var dataJSON = "@Model.finalResult";
            dataJSON = JSON.parse(dataJSON.replace(/&quot;/g, '"'));
            console.log(dataJSON);

			var Voltage = [];
            var TimeVoltage = [];

            var xMaxRange = dataJSON["Tic1"][0];
            var yMaxRange = dataJSON["VoClosed1"][0][0];
            var xMinRange = dataJSON["Tic1"][0];
            var yMinRange = dataJSON["VoClosed1"][0][0];

            for (var i = 0; i < 2500; i++) {
                Voltage[i] = dataJSON["VoClosed1"][i][0];
                console.log(Voltage[i]);
                if (yMaxRange < Voltage[i]) {
                    yMaxRange = Voltage[i];
                }
                if (yMinRange > Voltage[i]) {
                    yMinRange = Voltage[i];
                }

                TimeVoltage[i] = dataJSON["Tic1"][i];
                console.log(TimeVoltage[i]);

                if (xMaxRange < TimeVoltage[i]) {
                    xMaxRange = TimeVoltage[i];
                }
                if (xMinRange > TimeVoltage[i]) {
                    xMinRange = TimeVoltage[i];
                }
            }

            var dataOne = [
                [{ 'x': TimeVoltage[0], 'y': Voltage[0] }]
			];

            for (var j = 0; j < 2500; j++) {
                console.log("Hello");
                dataOne[0].push({
                    'x': TimeVoltage[j],
                    'y': Voltage[j]
				});
			}


            var graphOneXLabel = "Time";
            var graphOneYLabel = "Voltage";

            console.log(dataJSON);
        </script>

        <div class="row" id="graphOne">
            <h3>Voltage graph</h3>
            <script type="text/javascript" src="~/js/graph/graphOne.js"></script>
        </div>

        <div class="row">
            <a class="btn btn-primary" href="/identity/assignments" role="button">Go Back</a>
        </div>
    }
}