@page
@model SolarCellSeriesModel
@{
}



@section scripts {
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="~/js/practicalExperiments/solarCellSeries.js"></script>
}
<br>

<link rel="stylesheet" type="text/css" href="~/css/practicalExperiments/solarCellSeries.css">
<h2>Experiment - 5 : Solar Cells - Series Connection</h2>
<div class="row">

	<div class="col-md-8">
		<div class="circuit-container js-circuit-container">
			<span class="solarCellSeries-circuit js-circuit"></span>

			<span class="solarCellSeries-circuit-connection a js-circuit-connection" id="zha"></span>
			<span class="solarCellSeries-circuit-connection b js-circuit-connection" id="yhb"></span>
			<span class="solarCellSeries-circuit-connection c js-circuit-connection" id="xhc"></span>
			<span class="solarCellSeries-circuit-connection d js-circuit-connection" id="whd"></span>
		</div>
	</div>

	<div class="col-md-4">
		<div class="drag-container">
			<div id="di21" class="drag-item">
				<p>Solar Panel</p>
				<img src="~/images/practicalExperiments/solarCellsSeries/solarpanel.png" id="ahu" class="img-svg rotateimg90" />
			</div>
		</div>
		<div class="drag-container">
			<div id="di22" class="drag-item">
				<p>Solar Panel</p>
				<img src="~/images/practicalExperiments/solarCellsSeries/solarpanel.png" id="bhw" class="img-svg" />
			</div>
		</div>

		<div class="drag-container">
			<div id="di22" class="drag-item">
				<p>Solar Panel</p>
				<img src="~/images/practicalExperiments/solarCellsSeries/solarpanel.png" id="chx" class="img-svg rotateimg90" />
			</div>
		</div>

		<div class="drag-container">
			<div id="di22" class="drag-item">
				<p>Voltmeter</p>
				<img src="~/images/practicalExperiments/solarCellsSeries/voltmeter.png" id="dhy" class="img-svg" />
			</div>
		</div>
	</div>

</div>
<br /><br />
<hr />
<br /><br />
<div class="row">

	<div class="col-md-8">
		<div class="circuit-container js-circuit-container">
			<span class="solarCellSeries-circuit-auto js-circuit"></span>

			<span class="solarCellSeries-circuit-connection e js-circuit-connection" id="zha"></span>
			<span class="solarCellSeries-circuit-connection f js-circuit-connection" id="yhb"></span>
			<span class="solarCellSeries-circuit-connection g js-circuit-connection" id="xhc"></span>
			<span class="solarCellSeries-circuit-connection h js-circuit-connection" id="whd"></span>
			<span class="solarCellSeries-circuit-connection i js-circuit-connection" id="vhe"></span>
			<span class="solarCellSeries-circuit-connection j js-circuit-connection" id="uhf"></span>
		</div>
	</div>

	<div class="col-md-4">
		<div class="drag-container">
			<div id="di21" class="drag-item">
				<p>Solar Panel</p>
				<img src="~/images/practicalExperiments/solarCellsSeries/solarpanel.png" id="ahu" class="img-svg rotateimg90" />
			</div>
		</div>
		<div class="drag-container">
			<div id="di22" class="drag-item">
				<p>Solar Panel</p>
				<img src="~/images/practicalExperiments/solarCellsSeries/solarpanel.png" id="bhw" class="img-svg" />
			</div>
		</div>

		<div class="drag-container">
			<div id="di22" class="drag-item">
				<p>Solar Panel</p>
				<img src="~/images/practicalExperiments/solarCellsSeries/solarpanel.png" id="chx" class="img-svg rotateimg90" />
			</div>
		</div>

		<div class="drag-container">
			<div id="di22" class="drag-item">
				<p>Voltmeter</p>
				<img src="~/images/practicalExperiments/solarCellsSeries/voltmeter.png" id="dhy" class="img-svg" />
			</div>
		</div>

		<div class="drag-container">
			<div id="di22" class="drag-item">
				<p>Resistor</p>
				<img src="~/images/practicalExperiments/solarCellsSeries/resistor.svg" id="ehv" class="img-svg" />
			</div>
		</div>
		<div class="drag-container">
			<div id="di22" class="drag-item">
				<p>Ammeter</p>
				<img src="~/images/practicalExperiments/solarCellsSeries/ammeter.png" id="ehv" class="img-svg" />
			</div>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-md-4">
		<form>
			<div class="form-group">
				<label for="resistanceSolarCellParallel">Resistance (Ω)</label>
				<input type="number" min="0" step="0.0001" class="form-control" id="resistanceBuck" name="resistanceBuck"
					   placeholder="Resistance (Ω)" required>
			</div>

			<div class="form-group">
				<label for="inductanceBuck">Inductance (μH)</label>
				<input type="number" min="0" step="0.0000000001" class="form-control" id="inductanceBuck" name="inductanceBuck"
					   placeholder="Inductance (μH)" required>
			</div>

			<div class="form-group">
				<label for="dutyCycleBuck">Duty Cycle (%)</label>
				<input type="number" min="0" step="0.0001" class="form-control" id="dutyCycleBuck" name="dutyCycleBuck"
					   placeholder="Duty Cycle (%)" required>
			</div>

			<div class="form-group">
				<label for="capacitanceBuck">Capacitance (μF)</label>
				<input type="number" min="0.0001" step="0.0000000001" class="form-control" id="capacitanceBuck"
					   name="capacitanceBuck" placeholder="Capacitance (μF)" required>
			</div>

			<div class="form-group">
				<label for="voltageInputBuck">Voltage Input (V)</label>
				<input type="number" min="0" step="0.0001" class="form-control" id="voltageInputBuck" name="voltageInputBuck"
					   placeholder="Voltage Input (V)" required>
			</div>

			<div class="form-group">
				<label for="frequencyBuck">Frequency (kHz)</label>
				<input type="number" min="0" step="1" class="form-control" id="frequencyBuck" name="frequencyBuck"
					   placeholder="Frequency (kHz)" required>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>