@page
@model SolarPanelModel
@{
	ViewData["Title"] = "Solar Panel Experiment";
}

@section scripts {
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="~/js/practicalExperiments/solarPanel.js"></script>
}
<br>

<link rel="stylesheet" type="text/css" href="~/css/practicalExperiments/solarPanel.css">
<h2>Experiment - 4 : Solar Panel</h2>
<div class="row">

	<div class="col-md-8">
		<div class="circuit-container js-circuit-container">
			<span class="solarPanel-circuit js-circuit"></span>

			<span class="solarPanel-circuit-connection a js-circuit-connection" id="zva"></span>
			<span class="solarPanel-circuit-connection b js-circuit-connection" id="yvb"></span>
			<span class="solarPanel-circuit-connection c js-circuit-connection" id="xvc"></span>
			<span class="solarPanel-circuit-connection d js-circuit-connection" id="wvd"></span>
		</div>
	</div>

	<div class="col-md-4">
		<div class="drag-container">
			<div id="di21" class="drag-item">
				<p>Solar Panel</p>
				<img src="~/images/practicalExperiments/solarPanel/solarpanel.png" id="avu" class="img-svg rotateimg90" />
			</div>
		</div>
		<div class="drag-container">
			<div id="di22" class="drag-item">
				<p>Solar Panel</p>
				<img src="~/images/practicalExperiments/solarCellsSeries/solarpanel.png" id="bvw" class="img-svg" />
			</div>
		</div>

		<div class="drag-container">
			<div id="di22" class="drag-item">
				<p>Ammeter</p>
				<img src="~/images/practicalExperiments/solarPanel/ammeter.png" id="cvx" class="img-svg" />
			</div>
		</div>

		<div class="drag-container">
			<div id="di22" class="drag-item">
				<p>Voltmeter</p>
				<img src="~/images/practicalExperiments/solarCellsSeries/voltmeter.png" id="dvy" class="img-svg" />
			</div>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-md-4">
		<form>
			<div class="form-group">
				<label for="irridianceSolarPanel">Irradiation (Wb/m)</label>
				<input type="number" min="0" step="0.0001" class="form-control" id="irridianceSolarPanel" name="irridianceSolarPanel"
					   placeholder="Irridiance (Wb/m)" required>
			</div>

			<div class="form-group">
				<label for="temperatureSolarPanel">Temperature (°C)</label>
				<input type="number" min="0" step="0.0000000001" class="form-control" id="temperatureSolarPanel" name="temperatureSolarPanel"
					   placeholder="Temperature (°C)" required>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>