@page
@model SolarPanelModel
@{
    ViewData["Title"] = "Solar Panel Experiment";
}

@section scripts {
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/practicalExperiments/solarPanel.js"></script>
}
<br>

<link rel="stylesheet" type="text/css" href="~/css/practicalExperiments/solarPanel.css">
@{
    if (Model.finalResult == null)
    {
        <h2>Experiment-5 : Solar Panel</h2>
        <div class="row">

            <div class="col-md-8">
                <div class="circuit-container js-circuit-container">
                    <span class="solarPanel-circuit js-circuit"></span>

                    <span class="solarPanel-circuit-connection a js-circuit-connection" id="zva"></span>
                    <span class="solarPanel-circuit-connection b js-circuit-connection" id="yvb"></span>
                    <span class="solarPanel-circuit-connection c js-circuit-connection" id="zvc"></span>
                    <span class="solarPanel-circuit-connection d js-circuit-connection" id="wvd"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="drag-container">
                    <div id="di21" class="drag-item">
                        <p>Solar Panel</p>
                        <img src="~/images/practicalExperiments/solarPanel/solarpanel.png" id="avz" class="img-svg rotateimg90" />
                    </div>
                </div>
                <div class="drag-container">
                    <div id="di22" class="drag-item">
                        <p>Solar Panel</p>
                        <img src="~/images/practicalExperiments/solarCellsSeries/solarpanel.png" id="bvz" class="img-svg" />
                    </div>
                </div>

                <div class="drag-container">
                    <div id="di22" class="drag-item">
                        <p>Ammeter</p>
                        <img src="~/images/practicalExperiments/solarPanel/ammeter.png" id="cvw" class="img-svg" />
                    </div>
                </div>

                <div class="drag-container">
                    <div id="di22" class="drag-item">
                        <p>Voltmeter</p>
                        <img src="~/images/practicalExperiments/solarCellsSeries/voltmeter.png" id="dvy" class="img-svg" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <form id="solarPanel" method="post">
                    <div class="form-group">
                        <label asp-for="Input.Suns"></label>
                        <input asp-for="Input.Suns" class="form-control" />
                        <span asp-validation-for="Input.Suns" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.TaC"></label>
                        <input asp-for="Input.TaC" class="form-control" />
                        <span asp-validation-for="Input.TaC" class="text-danger"></span>
                    </div>
                    <input type="button" class="btn btn-primary" onclick="onBtnClick()" value="Submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="/identity/assignments" role="button">Go Back</a>

                </form>
            </div>
        </div>
    }
    else
    {
        <h2>Experiment - 5 : Solar Panel Result</h2>
        <script type="text/javascript">
            var dataJSON = "@Model.finalResult";
            console.log(dataJSON);
            var result = dataJSON.replace(/&#xA;/g, "");
            console.log(result);
            dataJSON = JSON.parse(result.replace(/&quot;/g, '"'));
            //console.log(dataJSON);
            if (sessionStorage.getItem("finalVoltageSolarPanel") === null) {
                var FinalVoltage = [];
                var FinalCurrent = [];
                var FinalIrridiation = [];
                var FinalTemperature = [];
            }

            if (sessionStorage.getItem("finalVoltageSolarPanel") !== null) {
                var FinalVoltage = sessionStorage['finalVoltageSolarPanel'].split(",");
                var FinalCurrent = sessionStorage['finalCurrentSolarPanel'].split(",");
                var FinalIrridiation = sessionStorage['finalIrridiationSolarPanel'].split(",");
                var FinalTemperature = sessionStorage['finalTemperatureSolarPanel'].split(",");

                sessionStorage.removeItem('finalVoltageSolarPanel');
                sessionStorage.removeItem('finalCurrentSolarPanel');
                sessionStorage.removeItem('finalIrridiationSolarPanel');
                sessionStorage.removeItem('finalTemperatureSolarPanel');
            }


            var Voltage = dataJSON["V"];
            var Current = dataJSON["I"];

            FinalVoltage.push(Voltage);
            FinalCurrent.push(Current);
            FinalIrridiation.push(@Model.Input.Suns);
            FinalTemperature.push(@Model.Input.TaC);

            sessionStorage.setItem('finalVoltageSolarPanel', FinalVoltage);
            sessionStorage.setItem('finalCurrentSolarPanel', FinalCurrent);
            sessionStorage.setItem('finalIrridiationSolarPanel', FinalIrridiation);
            sessionStorage.setItem('finalTemperatureSolarPanel', FinalTemperature);
            console.log(sessionStorage['finalVoltageSolarPanel']);
        </script>

        <div class="row">
            <div class="col-md-4">
                <form id="solarPanel" method="post">
                    <div class="form-group">
                        <label asp-for="Input.Suns"></label>
                        <input id="Irridiation" asp-for="Input.Suns" class="form-control" />
                        <span asp-validation-for="Input.Suns" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.TaC"></label>
                        <input asp-for="Input.TaC" class="form-control" />
                        <span asp-validation-for="Input.TaC" class="text-danger"></span>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="/identity/assignments/experiments/solarpanel" role="button">Go Back</a>

                </form>
            </div>
            <p>@Model.finalResult</p>
            
            <div class="col-md-6" id="graphOne">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Irridiation</th>
                            <th scope="col">Temperature</th>
                            <th scope="col">Open Circuit Voltage (V)</th>
                            <th scope="col">Closed Circuit Current (A)</th>
                        </tr>
                    </thead>
                    <tbody id="tablePrint"></tbody>
                </table>
                <script language="javascript" type="text/javascript">
                    var myTable = "";
                    for (var i = 0; i < FinalCurrent.length; i++) {
                        myTable += "<tr><th scope='row'>" + (i + 1) + "</th>";
                        myTable += "<td>" + parseFloat(FinalIrridiation[i]) + "</td>";
                        myTable += "<td>" + parseFloat(FinalTemperature[i]) + "</td>";
                        myTable += "<td>" + parseFloat(FinalVoltage[i]) + "</td>";
                        myTable += "<td>" + parseFloat(FinalCurrent[i]) + "</td>";
                        myTable += "</tr>";
                        console.log(FinalCurrent[i]);
                        console.log(FinalVoltage[i]);
                    }

                    document.getElementById('tablePrint').innerHTML = myTable;
                </script>
            </div>
        </div>

        
    }
}