@page
@model SeriesParallelSolarCellsModel
@{
}


<!-- Start Breadcrumb -->
<ul class="breadcrumb">
	<li><a href="/" target="_parent">Home</a></li>
	<li class="active">Solar Cells - Series and Parallel Connections</li>
</ul>
<!-- End Breadcrumb -->
<br>
<!-- Start Main Content -->
<div class="col-sm-9 col-sm-push-3" id="contentwithleftnav">
	<contenttext>
		<h2 style="margin-top:10px;">Experiment 4 : Solar Cells - Series and Parallel Connections</h2>
		<br>
		<strong>Concept</strong>
		<p align="justify">
			Solar cells can be connected in series to increase the output voltage, shown in Figure 1. Total voltage is equal to the
			sum of individual voltages. Solar cells in series are termed string. Because solar cells are not perfectly identical, the
			total current flowing through a string is equal to the lowest value of the solar cell.
		</p>
		<center>
			<img alt="fig1-seriesParallelSolarCells" class="img-responsive" id="headerMainImage" src="~/images/experiments/seriesParallelSolarCells/fig1.jpg">
			<p>Figure 1: Solar Modules in Series Connection</p>
		</center>

		<p align="justify">
			Connecting cells in parallel increases the total current, shown in Figure 2. Total current is equal to the sum of individual currents.
		</p>
		<center>
			<img alt="fig2-seriesParallelSolarCells" class="img-responsive" id="headerMainImage" src="~/images/experiments/seriesParallelSolarCells/fig2.jpg">
			<p>Figure 2: Solar Modules in Parallel Connection</p>
		</center>

		<!-- Start drop-down Learning Objective -->
		<p>
			<a class="collapsed" data-toggle="collapse" href="#learning-objectives">
				<span class="glyphicon glyphicon-chevron-right"></span>
				Learning Objective
			</a>
		</p>
		<div class="collapse" id="learning-objectives" style="height: 0px;">
			<ol>
				<li>Recording voltage and current characteristic of solar cells in series.</li>
				<li>Recording voltage and current characteristic of solar cells in parallel.</li>
			</ol>
		</div>
		<!-- End drop-down Learning Objective -->
		<!-- Start drop-down Materials and Equipment -->
		<p>
			<a class="collapsed" data-toggle="collapse" href="#materials-equipment">
				<span class="glyphicon glyphicon-chevron-right"></span>
				Materials and Equipment
			</a>
		</p>
		<div class="collapse" id="materials-equipment" style="height: 0px;">
			<ul>
				<li>Solar Cells</li>
				<li>Potentiometer</li>
				<li>Voltage Meter</li>
				<li>Current Meter</li>
			</ul>
		</div>
		<!-- End drop-down Materials and Equipment -->
		<!-- Start drop-down Procedure -->
		<p>
			<a class="collapsed" data-toggle="collapse" href="#procedure">
				<span class="glyphicon glyphicon-chevron-right"></span>
				Procedure
			</a>
		</p>
		<div class="collapse" id="procedure" style="height: 0px;">
			<b>Series Connection</b><br />
			<ol>
				<li>
					Connect three solar cells in series. Connect a potentiometer to
					the output of the series connection shown in Figure 3.
				</li>
				<li>
					Vary the value of the potentiometer from 0 Ω to 150 Ω. Use the
					voltmeter and ammeter to measure the output voltage and current.
					Record the voltage and current characteristic on the plot (x axis
					is current, y axis is voltage).
				</li>
			</ol><br />
			<b>Parallel Connection</b><br />
			<ol>
				<li>
					Connect three solar cells in series. Connect a potentiometer to 
					the output of the series connection shown in Figure 4.
				</li>
				<li>
					Vary the value of the potentiometer from 0 Ω to 150 Ω. Use the 
					voltmeter and ammeter to measure the output voltage and current. 
					Record the voltage and current characteristic on the plot (x axis 
					is current, y axis is voltage).
				</li>
			</ol>
		</div>
		<!-- End drop-down Procedure -->

	</contenttext>

</div>
<!-- End Main Content -->