@page
@model GalleryModel
@{
}

<!-- Start Breadcrumb -->
<ul class="breadcrumb">
	<li><a href="/" target="_parent">Home</a></li>
	<li class="active">Gallery</li>
</ul>
<!-- End Breadcrumb -->
<br>
<!-- Start Main Content -->
<div class="col-sm-9 col-sm-push-3" id="contentwithleftnav">
	<contenttext>

		<h2 style="margin-top:10px;">Gallery</h2>

		<!-- Start Carousel -->
		<div class="carousel slide" data-interval="5000" data-ride="carousel" id="gallery-carousel">
			<ol class="carousel-indicators">
				<li data-target="#gallery-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#gallery-carousel" data-slide-to="1" class=""></li>
				<li data-target="#gallery-carousel" data-slide-to="2" class=""></li>
				<li data-target="#gallery-carousel" data-slide-to="3" class=""></li>
				<li data-target="#gallery-carousel" data-slide-to="4" class=""></li>
				<li data-target="#gallery-carousel" data-slide-to="5" class=""></li>
				<li data-target="#gallery-carousel" data-slide-to="6" class=""></li>
				<li data-target="#gallery-carousel" data-slide-to="7" class=""></li>
				<li data-target="#gallery-carousel" data-slide-to="8" class=""></li>
				<li data-target="#gallery-carousel" data-slide-to="9" class=""></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img alt="Gallery Carousel Research" class="img-responsive" src="~/images/gallery/research.jpg">
				</div>
				<div class="item">
					<img alt="Gallery Carousel Solar Panel" class="img-responsive" src="~/images/gallery/solarPanel.jpg">
				</div>
				<div class="item">
					<img alt="Gallery Carousel Solar" class="img-responsive" src="~/images/gallery/solar.jpg">
				</div>
				<div class="item">
					<img alt="Gallery Carousel Members" class="img-responsive" src="~/images/gallery/members.jpg">
				</div>
				<div class="item">
					<img alt="Gallery Carousel Solar Car Event" class="img-responsive" src="~/images/gallery/Solar_Car_Event_1.jpg">
				</div>
				<div class="item">
					<img alt="Gallery Carousel Solar Car Event" class="img-responsive" src="~/images/gallery/Solar_Car_Event_2.jpg">
				</div>
				<div class="item">
					<img alt="Gallery Carousel Solar Car Event" class="img-responsive" src="~/images/gallery/Solar_Car_Event_3.jpg">
				</div>
				<div class="item">
					<img alt="Gallery Carousel Solar Car Event" class="img-responsive" src="~/images/gallery/Solar_Car_Event_4.jpg">
				</div>
				<div class="item">
					<img alt="Gallery Carousel Ceet Event" class="img-responsive" src="~/images/gallery/Ceet_Event_1.jpg">
				</div>
				<div class="item">
					<img alt="Gallery Carousel Ceet Event" class="img-responsive" src="~/images/gallery/Ceet_Event_2.jpg">
				</div>
			</div>

			<!-- Start Carousel Controls -->
			<a class="left carousel-control" href="#gallery-carousel" role="button" data-slide="prev">
				<span class="icon-prev"></span>
			</a>
			<a class="right carousel-control" href="#gallery-carousel" role="button" data-slide="next">
				<span class="icon-next"></span>
			</a>
			<!-- End Carousel Controls -->

		</div>
		<!-- End Carousel -->

	</contenttext>
</div>
<!-- End Main Content -->