@page
@model graduateStudentsModel
@{
}

<!-- Start Breadcrumb -->
<ul class="breadcrumb">
	<li>
		<a href="/" target="_parent">Home</a>
	</li>
	<li class="active">Graduate Students</li>
</ul>
<!-- End Breadcrumb -->

<br>
<!-- Start Main Content -->
<div class="col-sm-5 col-sm-push-3" id="contentwithleftnav">
	<contenttext>
		<h2 style="margin-top:10px;">Graduate Students</h2>
		<br>
		<div class="col-lg-12 col-md-12">
			<p>
				<img alt="nauman" class="img-responsive" height="400" width="400" src="~/images/graduateStudents/nauman.jpg" />
				<br /><br />
				<img alt="yashwanth" class="img-responsive" height="400" width="400" src="~/images/graduateStudents/Yashwanth_Siripragada.jpg" />
			</p>
		</div>
	</contenttext>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-sm-push-3" style="margin-top:1.5em;">
	<contenttext>
		<br /><br /><br /><br /><br /><br />
		<h4>Nauman Moiz Mohammed Abdul</h4>
		<p>Graduate Research Assistant</p>
		<p>nmohammedabdul1@niu.edu</p>
		<p>Electrical Engineering</p>
		<br /><br /><br /><br /><br /><br /><br /><br />
		<h4>Sai Yashwanth Siripragada</h4>
		<p>Graduate Research Assistant</p>
		<p>ssiripragada@niu.edu</p>
		<p>Computer Science</p>
	</contenttext>
</div>
<!-- End Main Content -->