@page
@model IndexModel
@{
	ViewData["Title"] = "Home";
}

<br>
<!-- Start Main Content -->
<div class="col-sm-9 col-sm-push-3" id="contentwithleftnav">
	<contenttext>
		<h2 style="margin-top:10px;">Using Renewable Energy Experiments to Enhance Student Engagement in STEM.</h2>
		<p>
			Welcome to the Virtual Renewable Energy Laboratory. This web site is an internet portal in which pre-college
			and college students can experiment with distributed power generation system, and collect data for their
			engineering activities.
		</p>
		<img alt="Banner Home" class="img-responsive" id="headerMainImage" src="~/images/bannerHome.jpg" />
	</contenttext>
</div>
<!-- End Main Content -->
