@page
@model UpdatesModel
@{
}

<!-- Start Breadcrumb -->
<ul class="breadcrumb">
	<li>
		<a href="/" target="_parent">Home</a>
	</li>
	<li class="active">Updates</li>
</ul>
<!-- End Breadcrumb -->

<br>
<!-- Start Main Content -->
<div class="col-sm-9 col-sm-push-3" id="contentwithleftnav">
	<contenttext>
		<h2 style="margin-top:10px;">Updates</h2>

		<br><hr>
		<!-- Links to Articles -->
		<a href="https://www.niutoday.info/2017/10/05/new-grant-to-fund-virtual-renewable-energy-laboratory/"
		   target="_blank">New grant to fund virtual renewable energy laboratory</a>

		<br><hr>
		<a href="https://www.daily-chronicle.com/2018/11/01/northern-illinois-university-powers-up-with-regional-high-school-students/aa2vo8m/"
		   target="_blank">Northern Illinois University powers up with regional high school students</a>

	</contenttext>
</div>
<!-- End Main Content -->
